<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <!--环境配置，连接的数据库，这里使用的是MySQL-->
    <!--<environments default="">
        <environment id="">
            &lt;!&ndash;指定事务管理的类型，这里简单使用Java的JDBC的提交和回滚设置&ndash;&gt;
            <transactionManager type="JDBC"></transactionManager>
            &lt;!&ndash;dataSource 指连接源配置，POOLED是JDBC连接对象的数据源连接池的实现&ndash;&gt;
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/?characterEncoding=utf8"></property>
                <property name="username" value="root"></property>
                <property name="password" value="123456"></property>
            </dataSource>
        </environment>
    </environments>-->
    <!-- <typeAliases>
         <package name="org.example.domain.Student"/>
     </typeAliases>-->
    <!--<mappers>        &lt;!&ndash;这是告诉Mybatis区哪找持久化类的映射文件，对于在src下的文件直接写文件名，如果在某包下，则要写明路径,如：com/mybatistest/config/User.xml&ndash;&gt;
        <package name="org.example.dao"/>
    </mappers>-->
</configuration>